.about-me {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.about-me img {
  height: 25rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2rem;
}

.about-txt {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

.about-txt h3 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.about-txt p {
  font-size: 1.05rem;
  font-weight: 400;
}

@media (max-width: 991px) {
  .about-me {
    flex-direction: column;
    gap: 3rem;
  }

  .about-txt {
    text-align: center;
  }
}

@media (max-width: 530px) {
  .about-me img {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
  }
}