.sec-hero {
  min-height: 100vh;
  display: flex;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  max-width: 56.25rem;
}

.hero h1 {
  font-size: 2.7rem;
  font-weight: 700;
}

.hero h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

.dev-img {
  height: 18.75rem;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.dev-txt {
  display: flex;
  min-height: 18.75rem;
  flex-direction: column;
  justify-content: space-between;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2rem;
}

.skills h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

.skills .icons {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .icons img {
  height: 3.5rem;
  transition: all .2s ease-in-out;
}

.skills .icons img:hover {
  transform: translate(0, -7px);
  cursor: pointer;
}

@media (max-width: 991px) {
  section {
    padding: 7rem 0;
  }

  .hero {
    max-width: 40rem;
    margin: auto;
    padding: 0 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .dev-txt {
    gap: 2rem;
    min-height: 0;
    order: 1;
    text-align: center;
  }

  .skills {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
  }
}

@media (max-width: 560px) {
  .hero {
    padding: 0;
  }
}

@media (max-width: 370px) {
  .dev-img {
    height: 15rem;
  }
}